.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/photo.png");
  background-color: black;
  height: 1120px;
  width: 800px;
  position: relative;

}